/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
var/**

target/
__pycache__/
acceptance-tests/__pycache__/
acceptance-tests/api_framework/__pycache__/
*.pyc

local_postgres_data/
.project
.classpath
.settings/
.settings/**
*.bz2
*.log
*.orig

.metadata/**
test-output
binaries/**
**/log
.mvn
application-ldap-dev.yml
application-dev.yml
application-test.yml 
